<%- include('header.ejs') %>

<div id="body" class="body">
    <div class="bottom ml-10">
        <div class="filters">
            <div>
                <img src="https://www.svgrepo.com/show/532571/image-circle.svg" alt="imagem de perfil"
                    class="br-100" width="150">
                <div class="mt-5">
                    Dados Pessoais
                </div>
                <div class="filter-title mt-5">
                    Endereços
                </div>
                <div class="mt-5">
                    Pedidos
                </div>
                <div class="mt-5">
                    Cartões
                </div>
                <div class="mt-5">
                    Favoritos
                </div>
                <div class="mt-5">
                    Sair
                </div>
            </div>
        </div>
        <div class="data">
            <div class="title">Endereços</div>
            <div class="card-big">
                <div class="page-title">Já cadastrados</div>
                <% enderecos.forEach((endereco) => {%>
                    <div class="d-block justify-content-between align-items-center mt-1">
                        <div class="d-flex">
                            <div class="slight-bold">Endereço:</div>
                            <div class="ml-1">
                                <%= endereco.street %>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="slight-bold">Número:</div>
                            <div class="ml-1">
                                <%= endereco.number %>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="slight-bold">Complemento:</div>
                            <div class="ml-1">
                                <%= endereco.complement %>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="slight-bold">Cidade:</div>
                            <div class="ml-1">
                                <%= endereco.city %>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="slight-bold">Estado:</div>
                            <div class="ml-1">
                                <%= endereco.state %>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="slight-bold">CEP:</div>
                            <div class="ml-1">
                                <%= endereco.zipCode %>
                            </div>
                        </div>
                        <hr>
                    </div>
                <% }) %>
                <div class="page-title">Cadastrar Novo</div>
                <div class="d-flex justify-content-between align-items-center mt-1">
                    <input class="w-79 form-control" placeholder="Endereço">
                    <input class="w-20 form-control" placeholder="Número">
                </div>
                <input class="w-100 mt-1 form-control" placeholder="Complemento">
                <input class="w-100 mt-1 form-control" placeholder="Cidade">
                <div class="d-flex justify-content-between align-items-center mt-1">
                    <input class="w-49 form-control" placeholder="Estado">
                    <input class="w-49 form-control" placeholder="CEP">
                </div>
                <button type="button" class="btn btn-primary w-100 mt-1">Cadastrar</button>
            </div>
        </div>
    </div>
</div>

<%- include('footer.ejs') %>