<%- include('header.ejs') %>
    <div class="bottom-details ml-10">
        <div class="big-card mb-5">
            <img src="<%= livro.bookImage %>" class="aBookImage">
            <div class="d-block ml-5">
                <div class="info">
                    <div class="page-title">
                        <%= livro.title %> - <%= livro.isbn %>
                    </div>
                    <div class="price-item">
                        R$ <%= livro.price %>
                    </div>
                    <div class="mt-1">
                        <%= livro.synopsis %>
                    </div>
                    <form action="/addToCart" method="POST">
                        <input type="hidden" id="id" name="id" value="<%= livro.bookId %>">
                        <button type="submit" class="btn btn-secondary mt-1">Adicionar ao Carrinho</button>
                    </form>
                </div>
                <div class="mt-2">
                    <div class="page-title">
                        Especificações
                    </div>
                    <hr>
                    <div>
                        <div class="slight-bold mt-1">Autor</div>
                        <%= livro.author %>
        
                        <div class="slight-bold mt-1">Ano da Edição</div>
                        <%= livro.year %>
        
                        <div class="slight-bold mt-1">Editora</div>
                        <%= livro.publisher %>
        
                        <div class="slight-bold mt-1">Número de Páginas</div>
                        <%= livro.numPages %>
                    </div>
                </div>
            </div>
        </div>
    </div>