<%- include('header.ejs') %>

    <div id="body" class="body">
        <div class="cart">
            <div class="left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 mb-1">
                            <div class="font-weight-bold veronica">Produto</div>
                        </div>
                        <div class="col-md-2 veronica">
                            <div class="font-weight-bold">Preço</div>
                        </div>
                        <div class="col-md-2 veronica">
                            <div class="font-weight-bold">Quantidade</div>
                        </div>
                        <div class="col-md-2 veronica">
                            <div class="font-weight-bold">Total</div>
                        </div>
                        <div class="col-md-1 veronica">
                            <div class="font-weight-bold">Remover</div>
                        </div>
                    </div>
                    <div class="row">
                        <% cart.forEach((livro) => { %>
                            <div class="col-md-5 mb-1">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="font-weight-bold">
                                            <%= livro.title %>
                                        </div>
                                        <div>
                                            <%= livro.author %>
                                        </div>
                                        <div>
                                            <%= livro.publisher %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                R$ <%= livro.price %>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn-plus-minus btn-outline-secondary btn-number btn-minus" disabled="disabled" data-type="minus" data-field="quant[1]">
                                            -
                                        </button>
                                    </div>
                                    <input type="text" name="quant[1]" class="form-control input-number input-cart" value="<%= livro.quantity %>" min="1" max="10">
                                    <div class="input-group-append">
                                        <button type="button" class="btn-plus-minus btn-outline-secondary btn-number btn-plus" data-type="Mais" data-field="quant[1]">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                R$ <%= livro.bookSubtotal %>
                            </div>
                            <div class="col-md-1">
                                <img src="https://www.svgrepo.com/show/533017/trash-blank-alt.svg" alt="Remover item"
                                    class="icon">
                            </div>
                            <% }); %>
                    </div>
                </div>
                <a href="/emptyCart" class="btn btn-secondary mt-3">Limpar o Carrinho</a>
            </div>
            <div class="d-block right">
                <div class="bg-gray">
                    <div class="slight-bold">Cupom</div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Pesquisar..." aria-label="Pesquisar..."
                            aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button">
                                <img src="https://www.svgrepo.com/show/532555/search.svg" alt="Pesquisar"
                                    class="search-icon">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-3 slight-bold">Total Carrinho</div>
                <div class="bg-gray mt-3">
                    <div class="d-flex">
                        <div class="slight-bold">Subtotal</div>
                        <div class="ml-auto">R$ <%= total %></div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="slight-bold">Total</div>
                        <div class="ml-auto">R$ <%= total %></div>
                    </div>
                    <hr>
                    <a href="/cartContinue" class="btn btn-primary w-100 mt-1">Comprar agora</a>
                </div>
                <div class="mt-3 slight-bold">Calcular Frete</div>
                <div class="bg-gray mt-3">
                    <input type="text" class="form-control" placeholder="CEP" id="cep">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <div class="d-flex align-items-center">
                            <div>
                                Valor: 
                            </div>
                            <span class="hidden ml-1" id="dinheiro">R$ </span>
                            <input id="frete" class="form-control w-50 hidden ml-05"></input>                      
                        </div>
                        <button type="button" class="btn btn-secondary w-50 mt-1" id="calcularFrete">Calcular</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('footer.ejs') %>

<script>

    // botão calcularFrete define valor aleatório para o frete conforme valor do input CEP
    document.getElementById('calcularFrete').addEventListener('click', () => {
        if (document.getElementById('cep').value.length === 8) {
            // unhide frete
            document.getElementById('frete').style.display = 'block';
            // mostra o dinheiro
            document.getElementById('dinheiro').style.display = 'block';
            // define valor aleatório para o frete com 2 casas decimais
            document.getElementById('frete').value = (Math.random() * 100).toFixed(2);
        } else {
            alert('CEP inválido');
            // hide frete if CEP is invalid or empty and zero the value and the money
            document.getElementById('frete').style.display = 'none';
            document.getElementById('frete').value = 0;
            document.getElementById('dinheiro').style.display = 'none';
        }
    });

</script>