<%- include('header.ejs') %>

    <div id="body" class="body">
        <div class="cart">
            <div class="left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 mb-1">
                            <div class="font-weight-bold veronica">Produto</div>
                        </div>
                        <div class="col-md-2 veronica">
                            <div class="font-weight-bold">Preço</div>
                        </div>
                        <div class="col-md-2 veronica">
                            <div class="font-weight-bold">Quantidade</div>
                        </div>
                        <div class="col-md-2 veronica">
                            <div class="font-weight-bold">Total</div>
                        </div>
                        <div class="col-md-1 veronica">
                            <div class="font-weight-bold">Remover</div>
                        </div>
                    </div>
                    <div class="row">
                        <% cart.forEach((livro) => { %>
                            <div class="col-md-5 mb-1">
                                <div class="row">
                                    <img src="<%= livro.bookImage %>" alt="livro" class="cartBookImage">
                                    <div class="col-md-8">
                                        <div class="font-weight-bold">
                                            <%= livro.title %>
                                        </div>
                                        <div>
                                            <%= livro.author %>
                                        </div>
                                        <div>
                                            <%= livro.publisher %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                R$ <%= livro.price %>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <a href="/minus/<%= livro.bookId %>" class="btn-plus-minus btn-minus">
                                            -
                                        </a>
                                    </div>
                                    <input type="text" name="bookQuantity" class="form-control input-cart" value="<%= livro.quantity %>" min="1" max="10" disabled>
                                    <div class="input-group-append">
                                        <a href="/plus/<%= livro.bookId %>" class="btn-plus-minus btn-plus">
                                            +
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                R$ <%= livro.bookSubtotal %>
                            </div>
                            <a href="/removeFromCart/<%= livro.bookId %>" class="col-md-1">
                                <img src="https://www.svgrepo.com/show/533017/trash-blank-alt.svg" alt="Remover item"
                                    class="icon">
                            </a>
                            <% }); %>
                    </div>
                </div>
                <a href="/emptyCart" class="btn btn-secondary mt-3">Limpar o Carrinho</a>
            </div>
            <div class="d-block right">
                <div class="slight-bold">Total Carrinho</div>
                <div class="bg-gray mt-3">
                    <div class="d-flex">
                        <div class="slight-bold">Subtotal</div>
                        <div class="ml-auto">R$ <%= total %></div>
                    </div>
                    <hr>
                    <a href="/cartContinue" class="btn btn-primary w-100 mt-1">Continuar compra</a>
                </div>
                <div class="mt-3 slight-bold">Calcular Frete</div>
                <div class="bg-gray mt-3">
                    <input type="text" class="form-control" placeholder="CEP" id="cep">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <div class="d-flex align-items-center">
                            <div>
                                Valor: 
                            </div>
                            <span class="hidden ml-1" id="dinheiro">R$ </span>
                            <input id="frete" class="form-control w-50 hidden ml-05" value="<%= frete %>"></input>                      
                        </div>
                        <button class="btn btn-secondary w-50 mt-1" id="calcularFrete">Calcular</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
    
    document.getElementById('calcularFrete').addEventListener('click', () => {
        if (document.getElementById('cep').value.length === 8) {
            document.getElementById('frete').style.display = 'block';
            document.getElementById('dinheiro').style.display = 'block';
            document.getElementById('frete').value = (Math.random() * 30).toFixed(2);
            document.getElementById('frete').disabled = true;

            fetch('/frete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    frete: document.getElementById('frete').value
                })
            });

        } else {
            alert('CEP inválido');
            document.getElementById('frete').style.display = 'none';
            document.getElementById('frete').value = 0;
            document.getElementById('dinheiro').style.display = 'none';
        }
    });

</script>