<%- include('header.ejs') %>

<div id="body" class="body">
    <!-- MAIN -->
    <div class="top ml-10">
        <div class="d-block">
            <div class="page-title"><%= title %></div>
            <div class="page-subtitle">
                <a href="/home" class="black">
                    Home
                </a> 
                > 
                <a href="/books/<%if(category != "Todos os Livros"){%><%=category %><%}else{%>allBooks<%}%>" class="black">
                    <%= category %>
                </a>
            </div>
        </div>
    </div>

    <div class="bottom ml-10">
        <div class="filters">
            <div class="filter-title">
                Categoria
            </div>
            <hr>

            <div class="d-block">
                <a href="/books/allBooks" class="black">
                    Todos os Livros
                </a>
                <% categories.forEach((categoria) => { %>
                    <div class="d-block">
                        <a href="/books/<%= categoria.categoryName %>" class="black">
                            <%= categoria.categoryName %>
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="items">
            <% if (livros.length > 0) {%>
                <% livros.forEach((livro) => { %>
                <div class="card-item">
                    <img src="<%= livro.bookImage %>" alt="livro" class="bookImage">
                    <div class="ml-3 info-item">
                        <div class="title-item"><%= livro.title %></div>
                        <div class="price-item">R$ <%= livro.price %></div>
                        <div class="description-item"><%= livro.author %></div>
                        <div class="icons-item">
                            <img class="icon" src="https://www.svgrepo.com/show/511031/info.svg" alt="info">
                        </div>
                    </div>
                    <form action="/addToCart" method="POST">
                        <input type="hidden" id="id" name="id" value="<%= livro.bookId %>">
                        <button type="submit" class="btn btn-secondary ml-10">Comprar Agora</button>
                    </form>
                </div>
                <% })
            } else { %>
                <div class="card-item">
                    <div class="title-item">Nenhum livro encontrado</div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('footer.ejs') %>