<%- include('header.ejs') %>
        <div class="container h-100">

            <div class="title center mt-5">Cliente</div>

            <div class="center">
                <div class="big-card">
                    <div class="center">
                        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/yellow-business-leadership-book-cover-design-template-dce2f5568638ad4643ccb9e725e5d6ff_screen.jpg?ts=1637017516"
                            width="250rem" class="icon-person">
                        <div class="d-flex align-items-center mt-1">
                            <div class="bold"><%= cliente[0].name %></div>
                            <div class="badge ml-1"><%= cliente[0].ranking %></div>
                        </div>
                    </div>
                    <div class="info-client ml-7">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <img src="https://www.svgrepo.com/show/532167/document-layout-right.svg" class="icon op-75">
                                <div class="ml-1">
                                    <div class="bold">CPF</div>
                                    <%= cliente[0].cpf %>
                                </div>
                            </div>
                            <div class="d-flex">
                                <img src="https://www.svgrepo.com/show/502648/email.svg" class="icon op-75">
                                <div class="ml-1">
                                    <div class="bold">E-mail</div>
                                    <%= cliente[0].email %>
                                </div>
                            </div>
                            <div class="d-flex">
                                <img src="https://www.svgrepo.com/show/502605/date-range.svg" class="icon op-75">
                                <div class="ml-1">
                                    <div class="bold">Data de Nascimento</div>
                                    <%= cliente[0].birthDate %>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-2">
                            <div class="w-49">
                                <div class="d-flex">
                                    <img src="https://www.svgrepo.com/show/533285/phone.svg" class="icon op-75">
                                    <div class="ml-1">
                                        <div class="bold">Telefones</div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                (<%= cliente[0].ddd %>) <%= cliente[0].phoneNumber %>
                                            </div>
                                            <div>
                                                <a href="/phone/<%= cliente[0].phoneId %>">
                                                    <img src="https://www.svgrepo.com/show/522527/edit-3.svg" alt="Editar"
                                                        class="icon-min ml-05">
                                                </a>
                                                <a href="/phone/delete/<%= cliente[0].phoneId %>" style="display: inline-block;">
                                                    <img src="https://www.svgrepo.com/show/502606/delete-3.svg" alt="Deletar"
                                                        class="icon-min">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mt-2">
                                    <img src="https://www.svgrepo.com/show/532540/location-pin-alt-1.svg" class="icon op-75">
                                    <div class="ml-1">
                                        <div class="bold">Endereços</div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <img src="https://www.svgrepo.com/show/491219/dot.svg" alt="Editar" class="icon-max">
                                            </div>
                                            <div>
                                                <%= cliente[0].street %>, <%= cliente[0].addressNumber %>, <%= cliente[0].neighborhood %>
                                                <br>
                                                <%= cliente[0].city %>, <%= cliente[0].state %> - <%= cliente[0].zipCode %>
                                            </div>
                                            <div>
                                                <a href="/edit/address/<%= cliente[0].addressId %>">
                                                    <img src="https://www.svgrepo.com/show/522527/edit-3.svg" alt="Editar"
                                                        class="icon-min ml-1">
                                                </a>
                                                <a href="/delete/address/<%= cliente[0].addressId %>" style="display: inline-block;">
                                                    <img src="https://www.svgrepo.com/show/502606/delete-3.svg" alt="Deletar"
                                                        class="icon-min">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-49">
                                <!-- cards -->
                                <div class="d-flex">
                                    <img src="https://www.svgrepo.com/show/532425/credit-card-alt-1.svg" class="icon op-75">
                                    <div class="ml-1">
                                        <div class="bold">Cartões</div>
                                        <div class="d-flex align-items-center jus">
                                            <img src="<%= cliente[0].cardFlag %>" class="card-flag">                                    
                                            <div class="ml-1"><%= cliente[0].cardNumber %> - <%= cliente[0].cardName %></div>
                                            <a href="/card/delete/<%= cliente[0].cardId %>" style="display: inline-block;">
                                                <img src="https://www.svgrepo.com/show/502606/delete-3.svg" alt="Deletar"
                                                    class="icon-min ml-05">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <a href="/clients/edit/<%= cliente[0].clientId %>" class="btn btn-primary">Editar</a>
                            <a href="/clients/delete/<%= cliente[0].clientId %>" class="btn btn-danger">Deletar</a>
                        </div>
                    </div>
                </div>

                <div id="edit" class="">

                    <!-- FORM FOR CLIENT EDIT -->
                    <!-- get id from client -->
                    <input type="text" id="id" value="<%= cliente[0].id %>" hidden>
                    

                </div>

                <a href="/admin/clients" class="mt-5 btn btn-primary">Voltar</a>
            </div>
        </div>


        </div>

        <%- include('footer.ejs') %>

<script>
    
    // when the page is loaded, hide the edit form
    $(document).ready(function() {
        $("#edit").hide();
    });

    // when the edit button is clicked, show the edit form
    $("#edit-btn").click(function() {
        $("#edit").show();
    });

</script>