<%- include('header.ejs') %>
    <div class="container h-100">

        <div class="title center mt-5">Cliente</div>
        <div class="center">
            <div class="big-card">
                <div class="center">
                    <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/yellow-business-leadership-book-cover-design-template-dce2f5568638ad4643ccb9e725e5d6ff_screen.jpg?ts=1637017516"
                        width="250rem" class="icon-person">
                    <div class="d-flex align-items-center mt-1">
                        <div class="bold">
                            <%= cliente[0].name %>
                        </div>
                        <div class="badge ml-1">
                            <%= cliente[0].ranking %>
                        </div>
                    </div>
                </div>
                <div class="info-client ml-7">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <img src="https://www.svgrepo.com/show/532167/document-layout-right.svg" class="icon op-75">
                            <div class="ml-1">
                                <div class="bold">CPF</div>
                                <%= cliente[0].cpf %>
                            </div>
                        </div>
                        <div class="d-flex">
                            <img src="https://www.svgrepo.com/show/502648/email.svg" class="icon op-75">
                            <div class="ml-1">
                                <div class="bold">E-mail</div>
                                <%= cliente[0].email %>
                            </div>
                        </div>
                        <div class="d-flex">
                            <img src="https://www.svgrepo.com/show/502605/date-range.svg" class="icon op-75">
                            <div class="ml-1">
                                <div class="bold">Data de Nascimento</div>
                                <%= cliente[0].birthDate %>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between mt-2">
                        <div>
                            <div class="d-flex">
                                <div class="d-flex">
                                    <img src="https://www.svgrepo.com/show/533285/phone.svg" class="icon op-75">
                                    <div class="ml-1">
                                        <div class="d-flex align-items-center">
                                            <div class="bold">Telefones</div>
                                            <a href="/client/addPhone/<%= cliente[0].userId %>"
                                                style="display: inline-block;" class="ml-05">
                                                <img src="https://www.svgrepo.com/show/509388/plus-circle.svg"
                                                    alt="Adicionar Telefone" class="icon-min">
                                            </a>
                                        </div>
                                        <% phones.forEach((phone)=> { %>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div>
                                                    (<%= phone.ddd %>) <%= phone.phoneNumber %>
                                                </div>
                                                <div>
                                                    <a href="/client/editPhone/<%= phone.phoneId %>">
                                                        <img src="https://www.svgrepo.com/show/522527/edit-3.svg"
                                                            alt="Editar Telefone" class="icon-min ml-05">
                                                    </a>
                                                    <a href="/client/deletePhone/<%= phone.phoneId %>"
                                                        style="display: inline-block;">
                                                        <img src="https://www.svgrepo.com/show/502606/delete-3.svg"
                                                            alt="Deletar Telefone" class="icon-min">
                                                    </a>
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex mt-2">
                                <img src="https://www.svgrepo.com/show/532540/location-pin-alt-1.svg" class="icon op-75">
                                <div class="ml-1">
                                    <div class="d-flex align-items-center">
                                        <div class="bold">Endereços</div>
                                        <a href="/client/addAddress/<%= cliente[0].userId %>" style="display: inline-block;"
                                            class="ml-05">
                                            <img src="https://www.svgrepo.com/show/509388/plus-circle.svg"
                                                alt="Adicionar Endereço" class="icon-min">
                                        </a>
                                    </div>
                                    <% addresses.forEach((address)=> { %>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <img src="https://www.svgrepo.com/show/491219/dot.svg" alt="Editar"
                                                    clateste
                                                    teste
                                                    testess="icon-max">
                                            </div>
                                            <div>
                                                <%= address.street %>, <%= address.number %>, <%= address.neighborhood %>
                                                <br>
                                                <%= address.city %>, <%= address.state %> - <%= address.zipCode %>
                                                <br>
                                                (<%= address.notes %>)
                                            </div>
                                            <div>teste
                                                teste
                                                teste
                                                <a href="/client/editAddress/<%= address.userId  %>">
                                                    <img src="https://www.svgrepo.com/show/522527/edit-3.svg"
                                                        alt="Editar Endereço" class="icon-min ml-1">
                                                </a>
                                                <a href="/client/deleteAddress/<%= address.addressId %>"
                                                    style="display: inline-block;">
                                                    <img src="https://www.svgrepo.com/show/502606/delete-3.svg"
                                                        alt="Deletar Endereço" class="icon-min">
                                                </a>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                        <div class="w-49">
                            <!-- cards -->
                            <div class="d-flex">
                                <img src="https://www.svgrepo.com/show/532425/credit-card-alt-1.svg" class="icon op-75">
                                <div class="ml-1">
                                    <div class="d-flex align-items-center">
                                        <div class="bold">Cartões</div>
                                        <a href="/client/addCard/<%= cliente[0].userId %>" style="display: inline-block;"
                                            class="ml-05">
                                            <img src="https://www.svgrepo.com/show/509388/plus-circle.svg"
                                                alt="Adicionar Endereço" class="icon-min">
                                        </a>
                                    </div>
                                    <% cards.forEach((card)=> { %>
                                        <div class="d-flex align-items-center jus">
                                            <img src="<%= card.cardFlag %>" class="card-flag">
                                            <div class="ml-1">
                                                <%= card.cardNumber %> - <%= card.cardName %>
                                            </div>
                                            <a href="/client/deleteCard/<%= card.cardId %>" style="display: inline-block;">
                                                <img src="https://www.svgrepo.com/show/502606/delete-3.svg" alt="Deletar"
                                                    class="icon-min ml-05">
                                            </a>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <a href="/client/editClient/<%= cliente[0].userId %>" class="btn btn-primary">Editar</a>
                        <div class="btn btn-danger" id="delete">Deletar</div>
                        <%- include('deleteClient.ejs') %>
                    </div>
                </div>
            </div>
        </div>
        <a href="/clients" class="mt-5 btn btn-primary">Voltar</a>
    </div>
    <%- include('footer.ejs') %>