<%- include('header.ejs') %>
<div class="center container">

    <h1 class="title center mt-5">Clientes</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="veronica">Nome</th>
                <th class="veronica">CPF</th>
                <th class="veronica">Quantidade de Compras</th>
                <th class="veronica">Ver mais</th>
            </tr>
        </thead>
        <tbody>

            <% if (clients.length==0) { %>
                <tr>
                    <td colspan="8" class="text-center">Nenhum cliente cadastrado</td>
                </tr>
            <% } %>

            <% clients.forEach(function(client) { %>
                
                <tr>
                    <td class="bold">
                        <%= client.name %>
                    </td>
                    <td>
                        <%= client.cpf %>
                    </td>
                    <td>
                        :D
                    </td>
                    <td>
                        <a href="/client/<%= client.userId %>">
                            <img src="https://www.svgrepo.com/show/522719/zoom-plus.svg" alt="Ver mais" class="icon">
                        </a>
                    </td>
                </tr>
            <% }); %>

        </tbody>
    </table>
    
    <a href="/signin" class="btn btn-primary">Novo Cliente</a>

</div>

<%- include('footer.ejs') %>