<%- include('header.ejs') %>
    <div id="body" class="body">
        <div class="center">
            <div class="data">
                <div class="title center">Troca | Devolução</div>
                <div class="d-flex align-items-center">
                    <div class="card-item-sm d-block">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="badge"><%= pedido.status %></div>
                                <div class="slight-bold">#<%= pedido.code %></div>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="info-item">
                                        <div class="title-item"><%= pedido.userName %></div>
                                        <div class="price-item">R$ <%= pedido.totalValue %></div>
                                        <div class="description-item">Compra feita em: <%= pedido.purchaseDate %></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="ml-4 d-flex justify-content-center align-items-center flex-column">
                        <div class="title-green">O que você gostaria de fazer com esse pedido?</div>
                        <div class="d-flex">
                            <a href="/exchange/<%= pedido.saleId %>" class="btn btn-secondary white">Trocar Produtos</a>
                            <a href="/return/<%= pedido.saleId %>" class="btn btn-secondary ml-1 white">Devolver Produtos</a>
                        </div>
                        <a href="#" class="mt-4">Verifique nossa política de troca e devolução.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
