<%- include('header.ejs') %>
    <div id="body" class="body">
        <div class="center">
            <div class="card-big mt-1">
                <div class="title center mt-1">Editar Cliente</div>
                <form action="/editClient" method="POST">
                    <div class="forms">
                        <input class="w-100 form-control" placeholder="ID" type="text" name="id" id="id" value="<%= cliente[0].userId %>" hidden>

                        <input class="w-100 mt-2 form-control" placeholder="Email" type="email" name="email" id="email" value="<%= cliente[0].email %>">

                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-50 form-control" placeholder="Nome" type="text" name="name" id="name" value="<%= cliente[0].name %>">
                            <input class="w-49 form-control" placeholder="CPF" type="text" name="cpf" id="cpf" value="<%= cliente[0].cpf %>">
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <!-- MUDAR ISSO AQUI -->
                            <input class="w-50 form-control" placeholder="Gênero" type="text" name="gender" id="gender" value="<%= cliente[0].gender %>">
                            <input class="w-49 form-control" placeholder="Data de Nascimento" type="date" name="birthDate" id="birthDate" value="<%= cliente[0].birthDate %>">
                        </div>
                    </div>
                    <a href="/client/<%= cliente[0].userId %>" class="btn btn-outline-secondary w-49 mt-2">Voltar</a>
                    <button type="submit" class="btn btn-primary w-49 mt-2">Salvar</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('footer.ejs') %>