<%- include('header.ejs') %>
<div class="center container">

    <h1 class="title center mt-5">Devoluções</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="veronica">Código</th>
                <th class="veronica">Situação</th>
                <th class="veronica">Valor</th>
                <th class="veronica">Ver mais</th>
            </tr>
        </thead>
        <tbody>

            <% if (devolutions.length==0) { %>
                <tr>
                    <td colspan="8" class="text-center">Solicitações de devolução aparecerão aqui.</td>
                </tr>
            <% } %>

            <% console.log(devolutions); %>
            <% devolutions.forEach(function(exchange) { %>
                <tr>
                    <td class="bold">
                        <%= exchange.transactionCode %>
                    </td>
                    <td>
                        <div class=" w-49
                            <% if (exchange.status == "Devolução Aprovada") { %> 
                                badge g-badge 
                            <% } else if (exchange.status == "Devolução Rejeitada") { %> 
                                badge r-badge 
                            <% } else { %>
                                badge v-badge
                            <% } %>
                        ">
                            <%= exchange.status %>
                        </div>
                    </td>
                    <td>
                        R$ <%= exchange.transactionValue %>
                    </td>
                    <td>
                        <a href="/evaluateDevolution/<%= exchange.transactionId %>">
                            <img src="https://www.svgrepo.com/show/522719/zoom-plus.svg" alt="Ver mais" class="icon">
                        </a>
                    </td>
                </tr>
            <% }); %>

        </tbody>
    </table>

</div>

<%- include('footer.ejs') %>