<%- include('header.ejs'); %>

    <div id="body" class="body">
        <div class="center">
            <img src="https://www.svgrepo.com/show/520561/box-open.svg" alt="Caixa" width="200">
            <div class="title">Avaliar Devolução</div>

            <div class="items">
                <% pedido.forEach((pd)=> { %>
                    <div class="card-item d-block">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <div class="slight-bold d-flex">
                                    <%= pd.situacao %>
                                </div>
                                <div class="ml-1 slight-bold d-flex">
                                    <%= pd.cliente %>
                                </div>
                            </div>
                            <div class="slight-bold">#0001</div>
                        </div>
                        <hr>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="<%= pd.imagem %>" width="100rem">
                                <div class="info-item">
                                    <div class="title-item">
                                        <%= pd.titulo %>
                                    </div>
                                    <div class="price-item">R$ <%= pd.preco %>
                                    </div>
                                    <div class="description-item">Compra feita em: <%= pd.dataPedido %>
                                    </div>
                                </div>
                            </div>
                            <div class="slight-bold"><%= pd.motivo %></div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="slight-bold">Explicação do Motivo:</div>
                                <%= pd.descricaoMotivo %>
                            </div>
                            <div class="d-flex">
                                <button type="button" class="btn btn-secondary">Recusado</button>
                                <button type="button" class="btn btn-secondary ml-1">Aprovado</button>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>

    <%- include('footer.ejs'); %>