<%- include('header.ejs'); %>

    <div id="body" class="body">

        <div class="title-home">Mais Vendidos</div>

        <div class="cards-wrapper">
            <% livros.forEach((livro) => {%>
                <div class="card">
                    <img src="<%= livro.bookImage %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title limit-text">
                            <%= livro.title %>
                        </h5>
                        <p class="card-text">R$ <%= livro.price %></p>
                        <form action="/addToCart" method="POST">
                            <input type="hidden" id="id" name="id" value="<%= livro.bookId %>">
                            <button type="submit" class="btn btn-secondary">Comprar Agora</button>
                        </form>
                    </div>
                </div>
            <% }); %>
        </div>

        <div class="medium">
            <div class="title-home">Top Categorias</div>
            <div id="circles" class="d-flex justify-content-around align-items-center">
                <% console.log(categorias); %>
                <% categorias.forEach((categoria) => { %>
                    <div class="category">
                        <a href="/books/<%= categoria.categoryName %>" class="circle">
                            <img class="icon-category" src="<%= categoria.categoryIcon %>" alt="icon-category">
                        </a>
                        <h4 class="mt-075"><%= categoria.titulo %></h4>
                    </div>
                <% }); %>
            </div>
        </div>

    </div>

<%- include('footer.ejs'); %>