<%- include('header.ejs') %>
<div class="container">
    <div class="big-card d-block">
        <div class="badge">
            <%= pedido.situacao %>
        </div>
        <div class="mt-05">
            Se o item que você recebeu estiver com defeito ou não estiver conforme descrito, você pode abrir uma solicitação de troca/devolução dentro de 15 dias do recebimento.
        </div>
        <div class="d-flex">
            <div>
                <button class="btn btn-secondary mt-05">Adicionar ao Carrinho</button>
            </div>
            <div class="ml-05">
                <button class="btn btn-primary mt-05">Acompanhar Pedido</button>
            </div>
            <div class="ml-05">
                <button class="btn btn-primary mt-05">Recibo</button>
            </div>
            <div class="ml-05">
                <a href="/doOrder/<%= pedido.id %>" class="btn btn-danger mt-05">Solicitar Troca/Devolução</a>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div class="mr-1 big-card">
            <div class="d-flex">
                <img src="https://www.svgrepo.com/show/532540/location-pin-alt-1.svg" class="icon op-75">
                <div class="ml-1">
                    <div class=""><%= pedido.nomeCliente %></div>
                    <div class="mt-05">
                        <%= pedido.telefone.codigoPais %> <%= pedido.telefone.ddd %> <%= pedido.telefone.numero %>
                    </div>
                    <div class="mt-05">
                        <%= pedido.endereco.rua %>, <%= pedido.endereco.numero %>, <%= pedido.endereco.bairro %>, <%= pedido.endereco.cidade %>, <%= pedido.endereco.estado %>, <%= pedido.endereco.cep %>
                    </div>
                </div>
            </div>
        </div>
        <div class="ml-1 big-card">
            <div class="d-flex">
                <img src="https://www.svgrepo.com/show/66839/sheet.svg" class="icon op-75">
                <div class="ml-1">
                    <div class="">Pedido: <%= pedido.id %></div>
                    <div class="mt-05">
                        Data: <%= pedido.dataPedido %>
                    </div>
                    <div class="mt-05">
                        Forma de Pagamento: <%= pedido.pagamento.forma %>                        
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <div class="big-card d-block">
        <div class="d-flex">
            <img src="https://www.svgrepo.com/show/533043/cart-shopping.svg" class="icon op-75">
            <div class="ml-1 bold">Itens</div>
        </div>
            <% pedido.livros.forEach((livro) => {%>
                <div class="orderData ml-05 mt-05 b-line p-2">
                    <div class="bookInfo">
                        <img src="<%= livro.imagem %>" alt="Livro" width="100">
                        <div class="ml-05 d-block">
                            <div class="mt-05">
                                <%= livro.titulo %>
                            </div>
                            <div class="mt-05">
                                <%= livro.autor %>, <%= livro.editora %> - <%= livro.ano %>
                            </div>
                            <div class="mt-05">
                                <%= livro.isbn %>
                            </div>
                            <div>
                                <% livro.categorias.forEach((categoria) => { %>
                                    <span class="mini-badge mt-05"><%= categoria %></span>
                                <% }); %>
                            </div>

                            <div class="mt-05">
                                <%= livro.preco %> x <%= livro.quantidade %>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary mt-05">Adicionar ao Carrinho</button>
                    </div>
                </div>
            <% }); %>
            <div class="flex-end mt-05">
                <img src="https://www.svgrepo.com/show/491278/money-dollars.svg" class="icon op-75">
                <div class="d-block ml-05">
                    <div>
                        Subtotal: <%= pedido.subtotal %>
                    </div>
                    <div>
                        Frete: <%= pedido.frete %>
                    </div>
                    <div>
                        Total: <%= pedido.total %>
                    </div>
                </div>
            </div>
    </div>
</div>

<%- include('footer.ejs') %>