<div class="title center">Pedidos</div>
<% pedidos.forEach((pedido)=> { %>
    <div class="medium-card">
        <div class="b-line orderData p-2">
            <div class="badge">
                <%= pedido.situacao %>
            </div>
            <div class="d-flex">
                <div class="r-line p-2">Pedido feito em: <%= pedido.dataPedido %>
                </div>
                <div class="p-2">
                    <a href="/order/<%= pedido.id %>" class="orderDetailsLink">Detalhes do pedido > </a>
                </div>
            </div>
        </div>
        <div class="orderData">
            <div class="p-2 bookInfo">
                <% pedido.livros.forEach((livro) => {%>
                    <img src="<%= livro.imagem %>" alt="Livro" width="100" class="ml-05">
                <% }) %>
                <% if (pedido.livros.length === 1) { %>
                    <div class="ml-05 d-block">
                        <div class="mt-05">
                            <%= pedido.livros[0].titulo %>
                        </div>
                        <div class="mt-05">
                            <%= pedido.livros[0].autor %>, <%= pedido.livros[0].editora %> - <%= pedido.livros[0].ano %>
                        </div>
                        <div class="mt-05">
                            <%= pedido.livros[0].isbn %>
                        </div>
                        <div>
                            <% pedido.livros[0].categorias.forEach((categoria) => { %>
                                <span class="mini-badge mt-05"><%= categoria %></span>
                            <% }) %>
                        </div>
                    </div>
                <% } %>

            </div>
            <div class="center">
                <div class="mt-05">
                    Total: <%= pedido.total %>
                </div>
                <div>
                    <button class="btn btn-primary mt-05">Adicionar ao Carrinho</button>
                </div>
                <div>
                    <button class="btn btn-danger mt-05">Deletar</button>
                </div>
            </div>
        </div>
    </div>
<% }); %>