<%- include('header.ejs') %>
<div class="container">
    <div class="big-card d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            Situação:
            <div class="v-badge ml-05">
                <%= sale.status %>
            </div>
        </div>
        <% if (sale.status == "Em Processamento" || sale.status == "Pagamento Realizado") { %>
            <form action="/updateSaleStatus" method="POST">
                <div class="d-flex align-items-center">
                    <input name="saleId" value="<%= sale.saleId %>" hidden>
                    Alterar Situação:
                    <% console.log("AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA", sale); %>
                    <% if (sale.status == "Em Processamento") { %>
                        <select class="form-control ml-05" id="status" name="status">
                            <option value="Pagamento Realizado">Pagamento Realizado</option>
                            <option value="Pagamento Recusado">Pagamento Recusado</option>
                            <option value="Compra Cancelada">Compra Cancelada</option>
                        </select>
                    <% } else if (sale.status == "Pagamento Realizado") { %>
                        <select class="form-control ml-05" id="status" name="status">
                            <option value="Em trânsito">Em Trânsito</option>
                        </select>
                    <% } else if (sale.status == "Em trânsito") { %>
                        <select class="form-control ml-05" id="status" name="status">
                            <option value="Entregue">Entregue</option>
                        </select>
                    <% } %>

                    <button type="submit" class="btn btn-primary ml-05">Salvar</button>
                </div>
            </form>
        <% } %>
    </div>

    <div class="d-flex">
        <div class="mr-1 big-card">
            <div class="d-flex">
                <img src="https://www.svgrepo.com/show/532540/location-pin-alt-1.svg" class="icon op-75">
                <div class="ml-1">
                    <div class=""><%= sale.userName %></div>
                    <div class="mt-05">
                        <%= sale.phones[0].ddd %> <%= sale.phones[0].phoneNumber %>
                    </div>
                    <div class="mt-05">
                        <%= sale.street %>, <%= sale.number %>, <%= sale.neighborhood %>, <%= sale.city %>, <%= sale.state %>, <%= sale.zipCode %>
                    </div>
                </div>
            </div>
        </div>
        <div class="ml-1 big-card">
            <div class="d-flex">
                <img src="https://www.svgrepo.com/show/66839/sheet.svg" class="icon op-75">
                <div class="ml-1">
                    <div class="">Pedido: <%= sale.code %></div>
                    <div class="mt-05">
                        Data: <%= sale.purchaseDate %>
                    </div>
                    <div class="mt-05">
                        Forma de Pagamento: <%= sale.paymentMethod %>                        
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <div class="big-card d-block">
        <div class="d-flex">
            <img src="https://www.svgrepo.com/show/533043/cart-shopping.svg" class="icon op-75">
            <div class="ml-1 bold">Itens</div>
        </div>
            <% sale.books.forEach((livro) => {%>
                <div class="orderData ml-05 mt-05 b-line p-2">
                    <div class="bookInfo">
                        <img src="<%= livro.bookImage %>" alt="Livro" width="100">
                        <div class="ml-05 d-block">
                            <div class="mt-05">
                                <%= livro.title %>
                            </div>
                            <div class="mt-05">
                                <%= livro.author %>, <%= livro.publisher %> - <%= livro.year %>
                            </div>
                            <div class="mt-05">
                                <%= livro.isbn %>
                            </div>
                            <div>
                                <% livro.categories.forEach((categoria) => { %>
                                    <span class="mini-badge mt-05"><%= categoria %></span>
                                <% }); %>
                            </div>

                            <div class="mt-05">
                                R$ <%= livro.price %>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary mt-05">Adicionar ao Carrinho</button>
                    </div>
                </div>
            <% }); %>
            <div class="flex-end mt-05">
                <img src="https://www.svgrepo.com/show/491278/money-dollars.svg" class="icon op-75">
                <div class="d-block ml-05">
                    <div>
                        Total: <%= sale.totalValue %>
                    </div>
                </div>
            </div>
    </div>
</div>

<%- include('footer.ejs') %>