<%- include('header.ejs') %>
<div class="center container">

    <h1 class="title center mt-5">Todas as Compras</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="veronica">Código</th>
                <th class="veronica">Situação</th>
                <th class="veronica">Data de Compra</th>
                <th class="veronica">Ver mais</th>
            </tr>
        </thead>
        <tbody>

            <% if (sales.length==0) { %>
                <tr>
                    <td colspan="8" class="text-center">Nenhuma Compra</td>
                </tr>
            <% } %>

            <% sales.forEach(function(sale) { %>
                
                <tr>
                    <td class="bold">
                        <%= sale.code %>
                    </td>
                    <td>
                        <div class=" w-49
                            <% if (sale.status == "Entrega Confirmada") { %> 
                                badge g-badge 
                            <% } else if (sale.status == "Em Processamento") { %> 
                                badge y-badge
                            <% } else if (sale.status == "Compra Cancelada") { %> 
                                badge r-badge
                            <% } else if (sale.status == "Pagamento Recusado") { %>
                                badge gray-badge
                            <% } else if (sale.status == "Troca Finalizada") { %>
                                badge b-badge
                            <% } else { %>
                                badge v-badge
                            <% } %>
                        ">
                            <%= sale.status %>
                        </div>
                    </td>
                    <td>
                        <%= sale.purchaseDate %>
                    </td>
                    <td>
                        <a href="/sale/<%= sale.saleId %>">
                            <img src="https://www.svgrepo.com/show/522719/zoom-plus.svg" alt="Ver mais" class="icon">
                        </a>
                    </td>
                </tr>
            <% }); %>

        </tbody>
    </table>

</div>
